
<form
      #UserInfo="ngForm"
      class=" shadow p-4  d-flex flex-column h-100 bg-light">
  <div class="row">
  <h4 class="col-12 text-center "> Order Receiving Details </h4>
  </div>
  <div class=" justify-content-around mb-5 mt-5 ">
      <div class="input-group mb-3 ">
        <span class="input-group-text border-0 bg-transparent p-0">Phone Number</span>
        <input type="text" class="form-control border-top-0 border-right-0 border-left-0  ml-2"
               [(ngModel)]="userInfo.customer_phone_number" required name="customer_phone_number">
      </div>
      <div class=" input-group ">
        <span class="input-group-text border-0 bg-transparent p-0">Current Location</span>
        <input type="text" class="form-control border-top-0 border-right-0 border-left-0 ml-2"
               [(ngModel)]="userInfo.customer_location" required name="customer_location" max="20" >
      </div>

  </div>
  <button mat-raised-button class="btn btn-dark w-50 text-center align-self-center" (click)="startLoading()" [disabled]="isLoading">
    <mat-spinner  *ngIf="isLoading" diameter="24"></mat-spinner>
  <span *ngIf="!isLoading"> Submit Order</span>
  </button>
</form>
