<div class="m-5 ">
  <div *ngIf="isLoading" class="min-vh-100 d-flex justify-content-center align-items-center ">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!isLoading">
    <div *ngIf="reservations.length==0;else reservationsView">
      <div class=" p-5 m-5 text-center ">
        <h3>You haven't reserved in any restaurant yet. Let’s change that!</h3>
        <button class="btn btn-dark border-0 bg-orange text-white" routerLink="/restaurants/all">Start Your First
          Reservation
        </button>
      </div>
    </div>
    <ng-template #reservationsView>
      <div class="  align-items-center ">
        <h3 class="w-100  text-secondary p-0 "><i class="bi bi-clock-history"></i> History and Recent Bookings </h3>
        <hr class="hr-orange ">
        <div class="row ">
          <div *ngFor="let reservation of reservations" class="col-6">
            <div class="row align-items-center mb-3 m-1 shadow ">
              <div class="col-6 p-0 ">
                <img width="300" height="200"
                     [src]="reservation.table.restaurant.profile_image">
              </div>
              <div class="col-6">
                <h6>{{reservation.table.restaurant.name}}</h6>
                <p class="col-12 p-0"><i class="bi bi-calendar3 text-orange mr-3"></i><span
                  class="text-secondary">{{reservation.date }} {{reservation.start_time|timeFormat}}-{{reservation.end_time |timeFormat}}</span>
                </p>
                <p class="col-6 p-0"><i class="bi bi-people mr-3 text-orange"></i><span
                  class="text-secondary">{{reservation.table.capacity}} Guests</span>
                </p>
                <div>
                  <div *ngIf="reservation.status=='Approved'" class="text-green">
                    <p class="col-6 p-0"><i class="bi bi-check-circle mr-3 "></i><span
                    class="text-secondary">{{reservation.status}}</span>
                  </p></div>
                  <div *ngIf="reservation.status=='Rejected'" class="text-red">
                    <p class="col-6 p-0"><i class="bi bi-x-circle mr-3 "></i><span
                    class="text-secondary">{{reservation.status}}</span>
                  </p></div>
                  <div *ngIf="reservation.status=='Pending'" class="row bg-none m-0">
                    <p class="col-6 p-0"><i class="bi bi-arrow-repeat mr-3 text-orange"></i><span
                    class="text-secondary">{{reservation.status}}</span>
                  </p></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </ng-template>

  </div>
  <mat-paginator *ngIf="totalCount > 0" class="bg-dark" [length]="totalCount"
                 [pageSizeOptions]="[1, 5, 10]"
                 (page)="paginate($event)"
                 [pageSize]="pageSize"
  ></mat-paginator>

</div>
