<div class="p-4 m-5 shadow ">
  <h1 *ngIf="restaurantName"><span class="text-red">{{restaurantName}} </span>Restaurant</h1>
  <hr class="hr-orange">
  <div class="row">
    <div class="col-s-1 col-md-4 mb-5" *ngFor="let meal of meals;">
      <div
        class="card shadow pointer">
        <img width="300" height="300" class="card-img-top" [src]="meal.image" alt="">
        <div class="card-body ">
          <div class="row align-items-center justify-content-between">
            <h5 class="col-6 text-orange">{{meal.name}}</h5>
            <h6 class="col-3 text-secondary">{{meal.price}} S.P</h6>
            <h5 class="col-2 btn btn-success mr-4" (click)="addToCart(meal)"><i class="bi bi-cart"></i></h5>
          </div>
          <div class=" row align-items-center justify-content-between">
            <p class="col-12 text-secondary">{{meal.description}} </p>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>
