<div *ngIf="isLoading" class="min-vh-100 d-flex justify-content-center align-items-center ">
  <mat-spinner></mat-spinner>
</div>

<form *ngIf="!isLoading"
      #MealForm="ngForm"
      (ngSubmit)="onSubmit(MealForm.value)"
      class=" shadow  w-100 h-100 p-4  d-flex flex-column ">
  <h4 class="text-center "> Meal Details</h4>
  <div class="row justify-content-around mb-5 mt-5 ">
    <div class="col-5">
    <div class="input-group mb-3 mt-3 ">
      <span class="input-group-text border-0 bg-transparent p-0">Name</span>
      <input type="text" class="form-control border-top-0 border-right-0 border-left-0  ml-2"
             [(ngModel)]="meal.name" required name="name">
    </div>

    <div class="input-group mb-3  ">
      <span class="input-group-text border-0 bg-transparent p-0">Price</span>
      <input type="number" class="form-control border-top-0 border-right-0 border-left-0 ml-2"
             [(ngModel)]="meal.price" required name="price">
    </div>

    <div class="mb-3">
      <label class="d-block   " >Description</label>
      <textarea rows="5" class="w-100 border-grey " name="description"
                [(ngModel)]="meal.description" ></textarea>
    </div>
  </div>

    <div class="mb-5 mt-4 position-relative p-0 col-4  d-inline-block">
      <img class=" shadow"  [src]="meal.image" width="415" height="300">
      <label for="image" class="position-relative  position-absolute bottom-0 start-0  m-0  gradient-input  ">
        <input type="file" class="d-none" name="image" ngModel id="image" required (change)="uploadImage($event)">
        <p class=" position-absolute  top-50 start-50 m-0 text-white translate-middle bg-orange p-2 ">Upload Image</p>
      </label>
    </div>
  </div>
  <div class=" position-relative ">
  <img class="position-absolute  back bottom-30 "  src="https://th.bing.com/th/id/OIP.MjvYtnSqtMhQqlVFlqtf-wHaI-?rs=1&pid=ImgDetMain " width="200" height="200">
  </div>

  <button
    type="submit"
    class="btn btn-dark w-25 text-center  align-self-center">
    Save Meal
  </button>
</form>
