<div class="">
  <div *ngIf="isLoading" class="min-vh-100 d-flex justify-content-center align-items-center ">
    <mat-spinner ></mat-spinner>
  </div>
  <div *ngIf="!isLoading ">
    <div *ngIf="cart.order_items.length==0  ">
      <div class=" p-5 m-5 text-center ">
        <h3>Your cart is feeling lonely! Add some delicious items to it</h3>
        <button class="btn btn-dark border-0 bg-orange text-white" routerLink="/restaurants/menu">Browse Menu</button>
      </div>
    </div>

    <div class="m-5" *ngIf="cart.order_items.length!=0 && !isLoading;">
      <table class="shadow table table-striped bg-orange ">
        <thead class="text-white text-center ">
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Count</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Total Price</th>
        <th scope="col"></th>
        </thead>
        <tbody class="text-center">
        <tr *ngFor="let cartItem of cart.order_items;let id=index">
          <th class="align-middle" scope="row">{{cartItem.item.id}}</th>
          <th class="align-middle" scope="row">{{cartItem.item.name}}</th>
          <td><img width="150" height="150"
                   class=" p-2" [src]="cartItem.item.image"></td>
          <td class="align-middle">
            <button class="btn btn-info mr-3 fs-5 " (click)="increaseCount(id)" [disabled]="actionLoader">+</button>
            {{cartItem.count}}
            <button class="btn btn-info ml-3 fs-5" (click)="decreaseCount(id)" [disabled]="actionLoader">-</button>
          </td>
          <td class="align-middle">{{cartItem.item.price}} S.P</td>
          <td class="align-middle">{{cartItem.price}} S.P</td>
          <td class="align-middle">
            <div class="row m-2">
              <button class=" col -2 btn btn-danger" (click)="onRemove(id)" [disabled]="actionLoader">Remove</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="text-center">
          <h6 class="text-dark">Total Price<span class="fs-6 tex-secondary">  {{cart.total_price}}</span></h6>
      </div>
      <div class="row justify-content-center m-0 p-2 w-100">
        <button class="btn btn-dark border-0 bg-orange text-white col-3 mr-3" (click)="onSubmit()"> Submit Cart</button>
      </div>
    </div>

  </div>
</div>
