<form
  #RestaurantForm="ngForm"
  (ngSubmit)="onSubmit(RestaurantForm.value)"
  class="form-controller  shadow  p-5  d-flex flex-column  justify-content-between ">
  <h4 class="text-center  "> Restaurant Details</h4>
  <div class="row justify-content-around  mt-5">
    <div class="col-5">
      <div class="mb-4 input-group">
        <label class="d-block input-group-text border-0 bg-transparent p-0">Name </label>
        <input class="form-control border-top-0 border-right-0 border-left-0  ml-2" name="name" ngModel required>
      </div>
      <div class="mb-4 input-group">
        <label class="d-block input-group-text border-0 bg-transparent p-0">Email</label>
        <input class="form-control border-top-0 border-right-0 border-left-0  ml-2" name="email_address" ngModel type="email"
               required>
      </div>  <div class="mb-4 input-group">
        <label class="d-block input-group-text border-0 bg-transparent p-0">Mobile Number</label>
        <input class="form-control border-top-0 border-right-0 border-left-0  ml-2" name="mobile_number" ngModel
               required>
      </div>
      <div class="mb-4 input-group">
        <label class="d-block input-group-text border-0 bg-transparent p-0">Location </label>
        <input class="form-control border-top-0 border-right-0 border-left-0  ml-2" name="location" ngModel required>
      </div>

      <div class="mb-4 input-group">
        <label class="d-block input-group-text border-0 bg-transparent p-0">Description</label>
        <textarea class="w-100 shadow" rows="5" name="description" ngModel required></textarea>
      </div>

      <button
        [disabled]="!RestaurantForm.valid"
        type="submit"
        class="mb-5 btn btn-primary   text-center align-self-center">
        Request Register
      </button>
      <div class="row justify-content-between">
        <img class="col-6 p-0 " src="https://www.orisysinfotech.com/images/reservation.png" width="250"
             height="250">
        <img class="col-6 p-0 " src="https://www.orisysinfotech.com/images/online.png" width="250"
             height="250">
      </div>
    </div>
    <div class="col-5">
      <div class="mb-5 mt-4 position-relative p-0   ">
        <img class=" shadow" [src]="profileImage" width="575" height="300">
        <label for="profileImage" class="position-relative  position-absolute bottom-0 start-0  m-0  gradient-input  ">
          <input type="file" class="d-none" name="profile_image" ngModel id="profileImage" required
                 (change)="uploadProfileImage($event)">
          <p class=" position-absolute  top-50 start-50 m-0 text-white translate-middle bg-orange p-2 ">Upload Profile
            Image</p>
        </label>
      </div>
      <div class="mb-5 mt-4 position-relative p-0   ">
        <img class="shadow" [src]="coverImage" width="575" height="300">
        <label for="coverImage" class="position-relative  position-absolute bottom-0 start-0  m-0  gradient-input  ">
          <input type="file" class="d-none" name="cover_image" ngModel id="coverImage" required
                 (change)="uploadCoverImage($event)">
          <p class=" position-absolute  top-50 start-50 m-0 text-white translate-middle bg-orange p-2 ">Upload Cover
            Image</p>
        </label>
      </div>
    </div>
  </div>

</form>
