<footer *ngIf="isGuest() || isClient()" class="text-center text-white ">
  <div class=" bg-dining">
    <div class="row justify-content-center p-3 w-100">
      <div class="col-3">
        <h5 class="m-3">REGISTER FOR <span class="text-orange">FREE</span></h5>
        <p class="m-3">Register with us and win <br> amazing discount points on <span
          class="text-orange">table booking</span></p>
        <button class="btn text-white bg-orange "
                routerLink="/auth/sign-up"
        >Register</button>
      </div>
    </div>
  </div>
  <div class="bg-dark p-3">
    <div class="row justify-content-center m-3">
      <h5 class="col-3 text-orange"><strong>{{ApplicationEnum.Name}}</strong></h5>
    </div>
    <div class="row justify-content-center m-3">
      <ul class="col-4 nav nav-bar row justify-content-between">
        <li class="col-2 pointer">Service</li>
        <li routerLink="/about-us"   class="col-3 pointer">About Us</li>
        <li routerLink="/contact-us" class="col-3 pointer">Contact Us</li>
        <li routerLink="/FAQs" class="col-1 pointer">FAQs</li>
        <li routerLink="/auth/sign-in" class="col-3 pointer">Sign In</li>
      </ul>
    </div>
    <div class="row justify-content-center m-3 ">
      <ul class="col-3 nav nav-bar row justify-content-between">
        <li class="col-2 text-orange pointer"><i class="fab fa-facebook fa-2x"></i></li>
        <li class="col-2 text-orange pointer"><i class="fab fa-twitter fa-2x"></i></li>
        <li class="col-2 text-orange pointer"><i class="fab fa-instagram fa-2x"></i></li>
      </ul>
    </div>
    <div class="row justify-content-center">
      <p class="col-3 ">{{ApplicationEnum.Name}}.com | All rights reserved</p>
    </div>
  </div>

</footer>
