.star-rating span::before {
  content: '\2606'; /* Empty star (☆) */
  cursor: pointer;
  color: gray;
  transition: color 0.2s ease-in-out;
}
.star-rating span.filled::before  {
  content: '\2605'; /* Filled star (★) */
  color: var(--app-orange);
}
