<div class="">

  <div *ngIf="isLoading" class="min-vh-100 d-flex justify-content-center align-items-center ">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!isLoading">
    <div *ngIf="restaurants.length==0;else restaurantsView">
      <div class=" p-5 m-5 text-center ">
        <h3>Call More Restaurants to Join </h3>
      </div>
    </div>
    <ng-template #restaurantsView>
      <table class="shadow table w-100 table-striped  m-0 p-0">
        <thead class="text-white text-center  bg-orange">
        <th scope="col" style="width:10% ">Name</th>
        <th scope="col" style="width:10% ">Phone</th>
        <th scope="col" style="width:15% ">Description</th>
        <th scope="col">Profile Image</th>
        <th scope="col">Cover Image</th>
        <th scope="col" style="width:15% ">Location</th>
        <th scope="col" style="width:10% ">Status</th>
        </thead>
        <tbody class="text-center">
        <tr *ngFor="let restaurant of restaurants ">
          <th class="align-middle" scope="row">{{restaurant.name}}</th>
          <td class="align-middle ">{{restaurant.mobile_number}}</td>
          <td class="align-middle ">{{restaurant.description}} S.P</td>
          <th class="align-middle" scope="row">
            <img width="200" height="150" src="{{restaurant.profile_image}}">
          </th>
          <th class="align-middle" scope="row">
            <img width="200" height="150" src="{{restaurant.cover_image}}">
          </th>
          <td class="align-middle ">{{restaurant.location}}</td>
          <th class="align-middle" scope="row">
            <div *ngIf="restaurant.status=='Approved';" class="text-green">{{restaurant.status}}</div>
            <div *ngIf="restaurant.status!='Approved'" class="row p-0 m-0 ">
              <button class="btn btn-success  mb-2" (click)="openDialog(restaurant)">Approve</button>
              <button class="btn btn-danger mb-2" (click)="reject(restaurant)">Reject</button>
            </div>
          </th>
        </tr>
        </tbody>
      </table>


    </ng-template>

  </div>

</div>
<mat-paginator class="bg-dark" [length]="totalCount"
               [pageSizeOptions]="[1, 5, 10]"
               (page)="paginate($event)"
               [pageSize]="pageSize"
></mat-paginator>
