<div class="">
  <div *ngIf="orders.length==0;else ordersView">
    <div class=" p-5 m-5 text-center ">
      <h3>You haven't ordered anything yet. Let’s change that!</h3>
      <button class="btn btn-dark border-0 bg-orange text-white" routerLink="/user/cart">Start Your First Order</button>
    </div>
  </div>
  <ng-template #ordersView>
  <div class="m-5">
    <h1 class="w-100">Orders </h1>
    <table class="shadow table table-striped bg-orange ">
      <thead class="text-white text-center ">
      <th scope="col">Order Number</th>
      <th scope="col">Order Date</th>
      <th scope="col">Order Status</th>
      <th scope="col">Total Price</th>
      <th scope="col">Details</th>
      </thead>
      <tbody class="text-center">
      <tr *ngFor="let order of orders ">
        <th class="align-middle" scope="row">{{order.id}}</th>
        <td class="align-middle">{{order.created_at | date}}</td>
        <td class="align-middle {{order.status}}">{{order.status}}</td>
        <td class="align-middle">{{order.total_price}} S.P</td>
        <td class="align-middle"><a
          routerLink="/user/orders/{{order.id}}"
        >Show Details</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  </ng-template>

</div>
