<header class=" p-3 shadow bg-body rounded">
  <div class="row justify-content-around">
    <div class="col-6">
      <h5> Welcome to <span class="text-orange">Restaurant<strong>Manager</strong></span></h5>

    </div>
    <div class="col-4">
      <ul class="nav nav-bar row justify-content-between">
        <li routerLink="/"                routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class=" pointer col-1 p-0  text-center"><a>Home</a></li>
          <li routerLink="/restaurants/all" routerLinkActive="active" class=" pointer col-2  text-center p-0"><a>Restaurants</a></li>
        <li routerLink="/contact-us" routerLinkActive="active" class="col-2 pointer  text-center p-0"><a>Contact Us</a></li>
        <li routerLink="/about-us" routerLinkActive="active" class="col-2 pointer text-center p-0"><a>About Us</a></li>
        <li class="col-2  dropdown">
          <button class="btn pt-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-person"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item">Profile</a>
            <a class="dropdown-item">Cart</a>
            <a class="dropdown-item">Orders </a>
            <a class="dropdown-item">Sign Out </a>
          </div>
        </li>
      </ul>
    </div>

  </div>

</header>
