<header class=" p-3 shadow bg-body rounded">
  <div class="row justify-content-around">
    <div class="col-6">
      <h5> Welcome to <span class="text-orange">Restaurant<strong>Manager</strong></span></h5>

    </div>
    <div class="col-3">
      <ul class="nav nav-bar row justify-content-between">
        <li class="col-2 p-0"><a>Home</a></li>
        <li class="col-3 p-0"><a>Contact Us</a></li>
        <li class="col-3 p-0"><a>About Us</a></li>
        <li class="col-3 p-0"><a>Sign Out</a></li>
      </ul>
    </div>
  </div>

</header>
